html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding-bottom: 3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.plant {
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  background-color: rgb(170, 240, 163);
  padding: 1rem;
}
.plantlog {
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  background-color: rgb(170, 240, 163);
  padding: 1rem;
}
.container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
